<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Confabulous protocol
      {% if page.section %}
        &raquo; {{page.section}}
        {% if page.title %}
          &raquo; {{page.title}}
        {% endif %}
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">

      <div class="row">

        <div class="col-md-12">
          <h1>Confabulous protocol documentation</h1>
          <ol class="breadcrumb">
            {% if page.section %}
              <li><a href="/">Documentation</a></li>
              <li>{{page.section}}</li>
              {% if page.title %}
                <li class="active">{{page.title}}</li>
              {% endif %}
            {% else %}
              <li class="active">Documentation</li>
            {% endif %}
          </ol>
        </div>
      </div>

      <div class="row">

        <div class="col-md-8">
          <h2>{{page.title}}</h2>
          {{content}}
        </div>

        <div class="col-md-4">
          <h4>Requests</h4>
          <ul style="list-style: none">
            {% for doc in site.requests %}
              <li><a href="{{doc.url}}">{{doc.title}}</a></li>
            {% endfor %}
          </ul>

          <h4>Notifications</h4>
          <ul style="list-style: none">
            {% for doc in site.notifications %}
              <li><a href="{{doc.url}}">{{doc.title}}</a></li>
            {% endfor %}
          </ul>

          <h4>Templates</h4>
          <ul style="list-style: none">
            {% for doc in site.templates %}
              <li><a href="{{doc.url}}">{{doc.title}}</a></li>
            {% endfor %}
          </ul>
        </div>

      </div>

    </div>
  </body>
</html>
